.App {
  text-align: center;
}

.heading {
  color: #fff;
  background-color: #3B444B;
  padding: 20px;
}

.searchForm {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block !important;
 text-align: center;
}

.card-component.card {
  margin: 10px;
}

.card-container {
  display: inline-block;
}